{% extends "menuPage.html" %}

{% block css %}
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='tabela.css') }}">
{% endblock %}

{% block content %}
    
    <div class="_baixo_body" >
     <main class="login-card" style="width: 100%;">
        <h2> Lista de Produtos</h2>
         <div style="width: 80px; padding-bottom: 5px;">
            <form action="{{url_for('cadastro_produto')}}" method="get">
                <button type="submit">Novo</button>
            </form>
         </div>
         <table class="tabela-customizada" style="width: 100%;">

            <thead>
                <td>Código</td>
                <td>Descrição</td>
                <td>Preço</td>
                <td></td>
                <td></td>
            </thead>
 {%
            for user in produtos
            %}
            <tr>
                <td>
                    {{
                    user.codigo
                    }}
                </td>
                <td>
                    {{
                    user.descricao
                    }}
                </td>
                <td>
                    {{
                    user.preco
                    }}
                </td>
                <td> <a href="/usuario/deletar/{{user.id}}"> Excluir</a> </td>
                <td><a href="/usuario/editar/{{user.id}}"> Editar</a> </td>
            </tr>


            {% endfor %}
           

        </table>
        
    </main>
    </div>
     
{% endblock %}