<!DOCTYPE html>
<html lang="pt-BR">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Cadastro de Usuário</title>
    <style>
	
	</style>
</head>
<body>
	

	<form action="{{url_for('salvar')}}" method="post">
		
        <main class="login-card">
            <h1>Cadastro de Usuário</h1>
        <div>
			<label for="nome">Nome:</label>
			<input type="text" id="nome" name="nome" required>
		</div>

		<div>
			<label for="usuario">Usuário:</label>
			<input type="text" id="usuario" name="usuario" required>
		</div>

		<div>
			<label for="senha">Senha:</label>
			<input type="password" id="senha" name="senha" required>
		</div>

		<div>
			<label for="nascimento">Data de nascimento:</label>
			<input type="date" id="nascimento" name="nascimento" required>
		</div>
        </main>

		<button type="submit">Cadastrar</button>
	</form>
</body>
</html>
