{% extends "menuPage.html"%}
{% block content %}
<div class="container">
    <h1> Contato </h1>
    
    <div style="width: 30%; text-align: left;">
        <label for="email">Email:</label>
        <input type="email" id="email" name="email">
        <br>
    </div>
    <div style="text-align: left;">
        <label for="message">Mensagem:</label>
        <textarea id="message" name="message" rows="30"></textarea>
        <br>
        <input type="submit" value="Enviar">
    </div>
</div>
{% endblock %}